@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome To Admin Page</h1>
    <a type="button" class="btn btn-primary" asp-action="Logout" asp-controller="Account">Logout</a>
</div>
